{% extends "base.html" %}

{% block meta_description %}Eliminar todos los favoritos {{ user.username }}{% endblock meta_description %}
{% block head_title %}- Eliminar todos los favoritos {{ user.username }}{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>Eliminar todos los favoritos</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row">
      <div class="col-lg-3">
        {% include "accounts/_sidenav.html" %}
      </div>

      <div class="col-lg-9">
        <div class="alert alert-warning">
          ¿Seguro que quieres eliminar <strong>{{ favorite_list.resources.count }}</strong> de favoritos?
        </div>

        <form method="post" action="">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">Si, eliminar</button>
          <a class="btn btn-success" href="{% url 'favorites:list' %}">Cancelar</a>
        </form>
      </div>
    </section>
  </section>
{% endblock content %}
