{% extends "base.html" %}

{% block meta_description %}Perfil de usuario{% endblock meta_description %}
{% block head_title %}- Perfil de usuario{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>Perfil de usuario</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row">
      <div class="col-lg-3">
        {% include "accounts/_sidenav.html" %}
      </div>

      <div class="col-lg-9">
        {% include "accounts/_profile_information.html" %}
      </div>
    </section>
  </section>
{% endblock content %}
