<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous"
  >
</head>
<body>
  <section class="jumbotron">
    <section class="container">
      <h1>Se ha producido un error</h1>
    </section>
  </section>

  <section class="container">
    <section class="row">
      <div class="col-md-10 offset-md-1">
        <h4>OferVivienda</h4>
        <div class="text-center my-4">
          <img src="/static/logo_large.png" alf="logo">
        </div>

        <div>
          Se ha enviado un email a la administración informando del error, si el problema continua,
          por favor, ponte en contacto con nosotros a través del email
          <code>webmaster@ofervivienda.com</code>
        </div>
      </div>
    </section>
  </section>
</body>
</html>
