{% extends "base.html" %}
{% load utils_tags %}

{% block meta_description %}Detalles del mensaje de contacto {{ message.subject }}{% endblock meta_description %}
{% block head_title %}- Detalles del mensaje de contacto {{ message.subject }}{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>Detalles del mensaje</h1>
      <hr>
      <p class="lead">
        {{ message.subject }}
        <strong>por</strong> {{ message.username }}
        <strong>el</strong> <small>{{ message.create_at|date:"SHORT_DATETIME_FORMAT" }}</small>
      </p>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <ul class="list-unstyled">
          <li><strong>Asunto: </strong>{{ message.subject }}</li>
          <li><strong>Nombre de usuario: </strong>{{ message.username }}</li>
          <li><strong>Email: </strong>{{ message.email }}</li>
          <li>
            <strong>Usuario registrado: </strong>
            {% if message.is_register %}
              <i class="material-icons text-success">check_box</i>
            {% else %}
              <i class="material-icons text-danger">indeterminate_check_box</i>
            {% endif %}
          </li>
          <li>
            <strong>Fecha: </strong>
            {{ message.create_at|date:"SHORT_DATETIME_FORMAT" }}
          </li>
        </ul>

        <div>
          <hr>
          {{ message.message|escape|linebreaksbr }}
          <hr>
        </div>

        <div>
          <a class="btn btn-primary" href="{% url 'contact:list' %}">
            Volver a mensajes
          </a>
          {% if perms.contact_message_contact.can_delete %}
            <a class="btn btn-danger"
               target="_blank"
               href="/admin/contact/contactmessage/{{ message.id }}/change/"
            >
              Eliminar
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
