{# Muestra la lista de recursos a un usuario, solo muestra sus recursos para administrarlos. #}
{% extends "base.html" %}

{% block meta_description %}Recursos marcados spam{% endblock meta_description %}
{% block head_title %}- Recursos marcados spam{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>Recursos marcados spam</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row flex-d">
      <div class="col-lg-3 flex-last flex-lg-first">
        {% include "accounts/_sidenav.html" %}
      </div>

      <div class="col s12 l9 mt-2">
        {% for resource in resource_list %}
          <div class="media mb-3">
            <img class="d-flex mr-3 z-depth-1" src="{{ MEDIA_URL }}{{ resource.get_image }}" alt="{{ resource.title }}" width="120px">

            <div class="media-body">
              <a href="{% url 'resources:details' resource.slug %}">
                <h5 class="mt-1">{{ resource.title }}</h5>
              </a>

              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <i class="material-icons text-danger">report</i> Reportes
                    </td>
                    <td class="text-value">
                      <span class="badge badge-success">{{ resource.marked_spam }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <small>
                        <i class="material-icons md-3">open_in_new</i> <a href="{{ resource.link }}">{{ resource.link }}</a>
                      </small>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="bg-faded p-2 text-right">
                <a class="superuser-spam-soluciona cursor-pointer"
                   data-toggle="tooltip"
                   title="Marcar como solucionado"
                   data-resource-url="{% url 'resources:api_clear_spam_resource' resource.pk %}"
                   data-message-success="Se ha marcado como solucionado"
                >
                  <i class="material-icons text-success">done</i>
                </a>
                <a href="/admin/resources/resource/{{ resource.pk }}/change/"
                   target="_blank"
                   data-toggle="tooltip"
                   title="Editar"
                >
                  <i class="material-icons">edit</i>
                </a>
              </div>
            </div>
          </div>
        {% empty %}
          <h5 class="text-center">No hay recursos para mostrar</h5>
        {% endfor %}
      </div>
    </section>

    {% include "_pagination.html"  %}
  </section>
{% endblock content %}
