{# Lista de recursos pendientes de aprobación. #}
{% extends "base.html" %}

{% block meta_description %}Lista de recursos para aprobar{% endblock meta_description %}
{% block head_title %}- Aprobar recursos{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>Lista de recursos para aprobar</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row d-flex">
      <div class="col-lg-3 flex-last flex-lg-first">
        {% include "accounts/_sidenav.html" %}
      </div>

      <div class="col-lg-9">
        {% for resource in resource_list %}
          <div class="media mb-4">
            <img class="d-flex mr-3 hidden-sm-down"
                 src="{{ MEDIA_URL }}{{ resource.get_image }}"
                 alt="{{ resource.title }}"
                 width="120px"
            >

            <div class="media-body">
              <h5 class="mt-0">
                <a href="{% url 'resources:details' resource.slug %}">{{ resource.title }}</a>
              </h5>

              <ul class="list-unstyled">
                <li>
                  <strong>Publicado:</strong>
                  <a href="{% url 'accounts:profile_public' resource.owner.slug %}">{{ resource.owner }}</a>
                </li>
                <li><strong>Fecha publicación:</strong> {{ resource.create_at }}</li>
              </ul>

              <div class="bg-faded p-2 d-flex justify-content-start">
                <span>
                  {% for category in resource.categories.all %}
                    <span class="badge badge-default">{{ category.title }}</span>
                  {% endfor %}

                  {% for tag in resource.tags.all %}
                    <span class="badge badge-default">{{ tag.title }}</span>
                  {% endfor %}
                </span>

                <a class="ml-auto" href="/admin/resources/resource/{{ resource.pk }}/change/"
                  target="_blank"
                  data-toggle="tooltip"
                  title="Editar desde la administración"
                >
                  <i class="material-icons">edit</i>
                </a>
              </div>
            </div>
          </div>
        {% empty %}
          <h5 class="text-center">No hay recursos para mostrar</h5>
        {% endfor %}
      </div>
    </section>

    {% include "_pagination.html"  %}
  </section>
{% endblock content %}
