{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}- {{ title }}{% endblock head_title %}

{% block page_title %}
  <section class="jumbotron">
    <section class="container">
      <h1>{{ title }}</h1>
    </section>
  </section>
{% endblock page_title %}

{% block content %}
  <section class="container">
    <section class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="alert alert-info alert-icon">
          Por favor, introduzca su contraseña antigua, por seguridad, y después introduzca la
          nueva contraseña dos veces para verificar que la ha escrito correctamente.
        </div>

        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}

          <button class="btn btn-primary" type="submit">
            Cambiar mi contraseña
          </button>
        </form>
      </div>
    </section>
  </section>
{% endblock content %}
